<a href="https://colab.research.google.com/github/Jakki-SP/Python-01/blob/master/Array_DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 01: Array DataStructure**

Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

**Create a list to store these monthly expenses and using that find out,**

In [26]:
expenses = [ 2200, 2350, 2600, 2130, 2190 ]
print(expenses)

[2200, 2350, 2600, 2130, 2190]

**1. In Feb, how many dollars you spent extra compare to January?**

In [27]:
extra_expense_in_February = expenses[1]-expenses[0]
print("extra_expense_in_February =", extra_expense_in_February)

extra_expense_in_February = 150

**2. Find out your total expense in first quarter (first three months) of the year.**

In [28]:
total_expense_in_first_quarter = expenses[0]+expenses[1]+expenses[2]
print("total_expense_in_first_quarter = ", total_expense_in_first_quarter)

total_expense_in_first_quarter =  7150

**3. Find out if you spent exactly 2000 dollars in any month**

In [29]:
for i in range(len(expenses)):
  if expenses[i] == 2000:
    print("Yes, Spent exactly 2000")
    break
  elif(i==(len(expenses)-1)):
    print("No, Not spent exactly 2000")

No, Not spent exactly 2000

In [30]:
# simple method
print("Exact amount spent found = ", 2000 in expenses)

Exact amount spent found =  False

**4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list**

In [31]:
expenses.append(1980)
print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

**5.You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this**

In [32]:
expenses[3] -= 200
print(expenses)

[2200, 2350, 2600, 1930, 2190, 1980]